:root {
    
    /* =========== COLORS =========== */

    --color-background: #F9FAFB;
    --color-text: #000000;
    --color-details: #57b5f3;
    --color-footer: #f5f2ee;

    /* =========== TEXTS SIZES =========== */

    --text-extratiny: 0.6rem;
    --text-tiny: 0.8rem;
    --text-normal: 1rem;
    --text-biggerNormal: 1.1rem;
    --text-title: 2.5rem;

    /* =========== FONT SIZES =========== */

    --font-description: 200;
    --font-task: 400;
    --font-bold: 600;
}