@import url(./root.css);

* {
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

@media (max-width: 768px) {

    .nav {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: var(--color-details);
        height: 5rem;
        padding: 0 1rem;
        gap: 1rem;
        
        a {
            width: 30%;
            height: auto;
        }

        form {
            display: flex;
            width: 70%;
            height: 2rem;
            border: 1px solid #f9f9f9;
            border-radius: 8px;
            background-color: var(--color-background);

            input {
                width: 90%;
                border: none;
                border-radius: 8px;
                padding: 0.2rem;
            }

            input:focus {
                outline: none;
                border: none;
                box-shadow: none;
              }

            button {
                width: 10%;
                background-color: var(--color-background);
                border: none;
                border-radius: 8px;

            }
        }
    }

    .daysWeatherInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        height: 100%;
        width: 100%;
        
        h2 {
            padding-bottom: 1.5em;
            font-weight: var(--font-bold);
        }

        table {
            height: 70%;
            width: 70%;
            
            .mainColumn {
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            tr, th, td {
                border: none;
                padding-top: 0.5rem;

                tr:not(:last-child), td:not(:last-child), th:not(:last-child) {
                    border-right: 1px solid #e0e0e0;
                }
                
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    
    footer {
        background-color: var(--color-footer);
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        padding: 1rem 0.7rem;
        margin: 0 auto;
        
        
        .footer-tittle {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            font-size: var(--text-biggerNormal);
        }
        
        .footer-links {
            display: flex;
            justify-content: center;
            font-size: var(--text-tiny);
            gap: 1rem;

            .footer-links-email {
                font-size: var(--text-tiny);
            }
        }

        .footer-desgined {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            font-size: var(--text-extratiny);
        }
    }
}
    
@media (min-width: 769px)  {

    .nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--color-details);
        height: 5rem;
        padding: 0 1rem;
        gap: 8rem;
        
        a {
            width: 20%;
            max-width: 8rem;
            height: auto;
        }

        form {
            display: flex;
            width: 60%;
            max-width: 20rem;
            height: 2rem;
            border: 1px solid #f9f9f9;
            border-radius: 8px;
            background-color: var(--color-background);

            input {
                background-color: transparent;
                width: 90%;
                border: none;
                border-radius: 8px;
                padding: 0.2rem;
            }

            input:focus {
                outline: none;
                border: none;
                box-shadow: none;
              }

            button {
                width: 10%;
                background-color: var(--color-background);
                border: none;
                border-radius: 8px;

            }
        }
    }

    .daysWeatherInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        height: 100%;
        width: 100%;
        
        h2 {
            padding-bottom: 1.5em;
            font-weight: var(--font-bold);
        }

        table {
            height: 70%;
            width: 70%;
            
            .mainColumn {
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            tr, th, td {
                border: none;
                padding-top: 0.5rem;

                tr:not(:last-child), td:not(:last-child), th:not(:last-child) {
                    border-right: 1px solid #e0e0e0;
                }
                
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    
    footer {
        background-color: var(--color-footer);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        padding: 1rem 0.7rem;
        
        .footer-tittle {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            font-size: var(--text-biggerNormal);
        }
        
        .footer-links {
            display: flex;
            justify-content: center;
            font-size: var(--text-tiny);
            gap: 1rem;
            
            .footer-links-email {
                font-size: var(--text-tiny);
            }
        }
        
        .footer-desgined {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            font-size: var(--text-extratiny);
        }
    }
}