@import url(./root.css);

@media (max-width: 768px) {

    * {
        font-family: "Roboto", sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: var(--color-details);
        height: 5rem;
        padding: 0 1rem;
        gap: 1rem;
        
        img {
            width: 30%;
            height: auto;
        }

        form {
            display: flex;
            width: 70%;
            height: 2rem;
            border: 1px solid #f9f9f9;
            border-radius: 8px;
            background-color: var(--color-background);

            input {
                width: 90%;
                border: none;
                border-radius: 8px;
                border-right: 0.5px solid rgb(224, 219, 219);
                margin: 0.3rem;
                
            }

            button {
                width: 10%;
                background-color: var(--color-background);
                border: none;
                border-radius: 8px;

            }
        }
    }
    
    
    main {
        background-color: blue;
    }    
    
    footer {
        background-color: var(--color-footer);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0.7rem;
        margin: 0 auto;
        
        
        .footer-tittle {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            font-size: var(--text-biggerNormal);
        }
        
        .footer-links {
            display: flex;
            justify-content: center;
            font-size: var(--text-tiny);
            gap: 1rem;

            .footer-links-email {
                font-size: var(--text-tiny);
            }
        }

        .footer-desgined {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            font-size: var(--text-extratiny);
        }
    }
}
    
@media (min-width: 769px) and (max-width: 1023px) {
    
}

@media (min-width: 1024) {
    
}